{#
/**
 * @file line_item.html.twig
 * Default theme implementation to present Line item data.
 *
 * This template is used when viewing Line item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_line_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('line_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
